<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="d-flex justify-content-center">
			<div class="card ms-3 me-3 mt-5 mb-3 text-center main-card" style="width: 50%;">
				<div class="card-body">

					<div class="container-fluid mt-1">
						<div class="row">
							<div class="col-md-8 offset-md-2 mt-3">

								<h3>Change Your Password</h3>
								
								<div th:if="${session.message}">
									<div class="alert text-center"
										th:classappend="${'alert-'+session.message.type}" role="alert">
										<span th:text="${session.message.content}"></span>
									</div>	
									<th:block th:text="${#session.removeAttribute('message')}"></th:block>	
								</div>

								<form th:action="@{/change-password-controller}" method="POST">

									<div class="form-group">
										<input type="password" class="form-control mt-3" required
											placeholder="Enter new password" name="newPassword" />
									</div>

									<div class="text-center mt-3">
										<button type="submit" class="btn btn-success">Change Password</button>
									</div>

								</form>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Tab active -->
		<script>
			$(document).ready(() => 
			{
				$(".item").removeClass("active");
				$("#settings-link").addClass("active");
			});	
		</script>
		<!-- Tab active -->

	</section>
</body>
</html>